<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="false">

    <listeners>
        <listener class-name="utils.CustomListeners"/>
    </listeners>

    <test name="Test Execution" verbose="2" preserve-order="true">

        <!-- ✅ Groups controlled by Maven/Jenkins -->
        <groups>
            <run>
                <include name="${groups}"/>
            </run>
        </groups>

        <classes>
            <class name="com.selenium.java.automation.framework.LoginTest"/>
            <class name="com.selenium.java.automation.framework.ActionsTest"/>
            <class name="com.selenium.java.automation.framework.AlertsTest"/>
            <class name="com.selenium.java.automation.framework.DropdownTest"/>
            <class name="com.selenium.java.automation.framework.FileUploadTest"/>
        </classes>

    </test>

</suite>